[region='top-left-box'] {
  padding: 1em;
  flex: 0 1 100%;
  display: flex;
  border-width: 2px;
  border-color: lightgrey;
  border-style: dashed;
  flex: 0 1 auto;
  flex-flow: row nowrap;
  order: 1;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  border-bottom-style: none;
}

[region='top-right-box'] {
  padding: 1em;
  flex: 0 1 100%;
  display: flex;
  border-width: 2px;
  border-color: lightgrey;
  border-style: dashed;
  flex: 0 1 auto;
  flex-flow: row-reverse nowrap;
  order: 2;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  border-bottom-style: none;
}

[region='bottom-right-box'] {
  padding: 1em;
  flex: 0 1 100%;
  display: flex;
  border-width: 2px;
  border-color: lightgrey;
  border-style: dashed;
  flex: 0 1 auto;
  float: right;
  margin-left: auto;
  flex-flow: row-reverse nowrap;
  order: 4;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-start;
}

[region='middle-box'] {
  padding: 1em;
  flex: 0 1 100%;
  display: flex;
  border-width: 2px;
  border-color: lightgrey;
  border-style: dashed;
  flex-flow: column nowrap;
  order: 3;
  justify-content: flex-start;
  align-content: flex-start;
}

.add-button {
  padding: 0.5em;
  border-style: dotted;
  border-width: 2px;
  border-color: lightgrey;
}
