[region='top-left-box'] {
  order: 1;
  border-width: 2px;
  border-color: lightgrey;
  border-style: dashed;
  border-bottom-style: none;
}
.region-top-left-box .region-group > * {
  padding: 1em;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.region-top-left-box .region-group > * .regional-group {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

[region='top-right-box'] {
  order: 2;
  border-width: 2px;
  border-color: lightgrey;
  border-style: dashed;
  border-bottom-style: none;
}

.region-top-right-box .region-group > * {
  padding: 1em;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.region-top-right-box .region-group > * .regional-group {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

[region='bottom-right-box'] {
  border-width: 2px;
  border-color: lightgrey;
  border-style: dashed;
  border-top-style: none;
  order: 4;
  float: right;
  margin-left: auto;
}

.region-bottom-right-box .region-group > * {
  padding: 1em;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-start;
}

.region-bottom-right-box .region-group > * .regional-group {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-start;
}

[region='middle-box'] {
  padding: 1em;
  flex: 0 1 100%;
  display: flex;
  border-width: 2px;
  border-color: lightgrey;
  border-style: dashed;
  flex-flow: column nowrap;
  order: 3;
  justify-content: flex-start;
  align-content: flex-start;
}

.region-middle-box .region-group > * {
  flex: 0 1 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.region-bottom-right-box .region-group > * .regional-group {
  flex: 0 1 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.add-button {
  padding: 0.5em;
  border-style: dotted;
  border-width: 2px;
  border-color: lightgrey;
}
